.header-nav {
  --at-apply: bg-primary-background;
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 3em;
  box-shadow: 0 0 0.5rem 0.2rem hsla(0, 0%, 0%, 0.4);
  display: grid;
  align-content: center;
  z-index: 5;
}

.nav {
  height: 100%;
  display: flex;
  justify-content: space-around;
}

.nav-text {
  font-size: 1rem;
}

.nav-text {
  --at-apply: text-primary-text;
}

a.router-link-active > span,
a.router-link-active > div {
  color: hsl(155, 51%, 48%);
  transition: color 0.3s ease-in;
}

@media screen and (min-width: 480px) {
  div.nav-icon {
    display: none;
  }

  .nav-text {
    font-size: 1.5rem;
  }

  .nav-item {
    text-decoration: none;
    display: inline-block;
    position: relative;
    /* color: hotpink; */
  }

  .nav-item::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: hotpink;
    transform: scaleX(0);
    transform-origin: bottom center;
    transition: transform 0.3s ease-in-out;
  }

  .nav-item:hover::after {
    transform: scaleX(1);
    transform-origin: bottom center;
  }
}