@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .text-name {
    background: var(--text-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .card-container {
    display: grid;
    width: fit-content;
    text-align: center;
    padding: 0.5rem;
    border: solid 1px hsl(231, 15%, 18%);
    border-radius: 0.5rem;
    box-shadow: 0 0 0.5rem hsl(34, 51%, 43%);
  }

  .svg-logo {
    height: 4rem;
    width: auto;
    fill: hsl(var(--svg-fill-hsl));
    transition: all 0.5s ease-out;
  }

  .svg-logo:hover {
    transition: all 0.5s ease-in-out;
    filter: brightness(1.5)
  }

  .svg-logo-contact {
    height: 1.5rem;
    width: auto;
    fill: hsl(var(--svg-fill-hsl));
  }

  /* .image-mask {
    mask-image: linear-gradient(to bottom, transparent, black 0%, rgba(0, 0, 0, 0.01) 200%);
  } */

  /* TODO animate buttons, transitions, etc */

  @media (prefers-reduced-motion: no-preference) {
    /* Some people hate this feature */
    html {
      scroll-behavior: smooth;
    }

    html.warped {
      transition: all 0.5s ease-in-out;
    }

    .warped {
      filter: hue-rotate(180deg);
    }

    .text-infernal {
      color: #00ff00;
      /* animation: glow 2s ease-out infinite alternate; */
      text-shadow: 0 0 0.3rem #00ff00, 0 0 0.6rem #00ff00, 0 0 1rem #00ff00;
      transition: all 2s linear;
    }

    .text-infernal:hover {
      /* make the text grow larger on hover */
      transform: scale(2.1);
    }
  }

  @media (prefers-reduced-motion: no-preference) and (min-width: 768px) {
    /* bg animation */
  }
}

/* TODO move some common css to tailwind config */

:root {
  --font-mono: "Fira Code", "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace",
    "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --font-sans: Inter, "Trebuchet MS", -system-ui, Helvetica, Verdana, sans-serif;

  --bg-primary-hsl: 0deg, 0%, 100%;
  --bg-secondary-hsl: 255deg, 6%, 49%;
  --link-hover-hsl: 153deg, 47%, 49%;
  --text-primary-hsl: 0deg, 2%, 12%;
  --svg-fill-hsl: 0deg, 2%, 12%;
  --text-gradient: linear-gradient(to right, hsl(278, 74%, 54%), hsl(49, 98%, 51%) 50%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-primary-hsl: 255deg, 6%, 13%;
    --bg-secondary-hsl: 255deg, 6%, 13%;
    --link-hover-hsl: 153, 47%, 49%;
    --text-primary-hsl: 0deg, 0%, 95%;
    --svg-fill-hsl: 0deg, 0%, 85%;
    --text-gradient: linear-gradient(to right, hsl(278, 74%, 54%), hsl(197, 75%, 47%) 40%);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font: inherit; */
}

html {
  line-height: 1.5;
  font-size: 100%;
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  /* TODO test on phone */

  /* TODO play with gradient colors */
  /* First breakpoint *was* 0, test after adding animation */
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  color: hsl(var(--text-primary-hsl));
}

main {
  padding-top: 4rem;
  min-height: 100vh;
  /* TODO play with gradient colors */
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

ul,
ol,
li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  pointer-events: none;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

@media (hover: hover) {
  a:hover,
  a:focus {
    color: hsl(var(--link-hover-hsl));
    /* text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff,
      0 0 2px hsl(var(--link-hover-hsl)), 0 0 4px hsl(var(--link-hover-hsl)),
      0 0 8px hsl(var(--link-hover-hsl)), 0 0 10px hsl(var(--link-hover-hsl));
      */
  }
}
