@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .text-name {
    background: var(--text-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .card-container {
    display: grid;
    width: 50%;
    justify-self: center;
    text-align: center;
    padding: 2rem 0;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.5rem hsla(0, 0%, 61%, 0.5);
  }

  .svg-logo {
    height: 3.3rem;
    width: auto;
    fill: hsl(var(--svg-fill-hsl));
    transform-style: preserve-3d;
    will-change: transform;
  }

  .svg-logo-contact {
    height: 1.5rem;
    width: auto;
    fill: hsl(var(--svg-fill-hsl));
  }

  .opacity-mask {
    mask-image: linear-gradient(
      to right,
      hsla(230, 23%, 5%, 0) 0%,
      hsla(230, 23%, 5%, 1) 10%,
      hsla(230, 23%, 5%, 1) 90%,
      hsla(230, 23%, 5%, 0) 100%
    );
  }

  .header {
    background-color: hsla(230, 25%, 5%, 0.6);
    box-shadow: 0 0 0.5rem hsla(0, 0%, 61%, 0.5);
  }
}

/* TODO move some common css to tailwind config */

:root {
  /* TODO create light mode scheme, make dark mode default (swap to main root) */
  --font-mono: "Fira Code", "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace",
    "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --font-sans: Inter, "Trebuchet MS", -system-ui, Helvetica, Verdana, sans-serif;
  --bg-primary-hsl: 255deg, 6%, 13%;
  --bg-secondary-hsl: 255deg, 6%, 13%;
  --link-hover-hsl: 153, 47%, 49%;
  --text-primary-hsl: 0deg, 0%, 90%;
  --text-secondary-hsl: 0deg, 0%, 70%;
  --svg-fill-hsl: 0deg, 0%, 85%;
  --text-gradient: linear-gradient(to right, hsl(278, 74%, 54%), hsl(197, 75%, 47%));
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-primary-hsl: 0deg, 0%, 100%;
    --bg-secondary-hsl: 255deg, 6%, 49%;
    --link-hover-hsl: 153deg, 47%, 49%;
    --text-primary-hsl: 0deg, 2%, 12%;
    --svg-fill-hsl: 0deg, 2%, 12%;
    --text-gradient: linear-gradient(to right, hsl(212, 74%, 54%), hsl(49, 98%, 51%));
  }

  .background-animation {
    display: none;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  line-height: 1.5;
  font-size: 100%;
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  color: hsl(var(--text-primary-hsl));
}

main {
  padding-top: 0;
  min-height: 100vh;
}

main,
body {
  /* TODO play with gradient colors */
  background: radial-gradient(ellipse at bottom, hsl(211, 33%, 16%) 0%, hsl(230, 25%, 5%) 100%);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

ul,
ol,
li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Media Queries */
/* TODO animate buttons, transitions, etc */

@media (prefers-reduced-motion: no-preference) {
  /* Some people hate this feature */
  html {
    scroll-behavior: smooth;
  }

  header {
    transition: all 0.5s ease-in-out;
  }
}

@media (prefers-reduced-motion: reduce) {
  canvas {
    display: none;
  }
}

@media (prefers-contrast: no-preference) {
  .text-infernal {
    color: hsl(120, 100%, 50%);
    text-shadow: 0 0 0.2rem hsl(120, 100%, 50%), 0 0 0.5rem hsl(120, 100%, 50%),
      0 0 0.8rem hsl(120, 100%, 50%);
  }
}

@media (hover: hover) {
  /* TODO link hover animations */
  .svg-logo:hover {
    /* TODO add more interesting animation */
    transition: all 0.5s ease-in-out;
    filter: brightness(1.5);
  }

  nav a,
  header li {
    @apply transition-opacity opacity-50 hover:opacity-100;
  }
}
