@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .text-name {
    background: var(--text-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .card-container {
    display: grid;
    width: fit-content;
    text-align: center;
    padding: 0.5rem;
    border: solid 1px hsl(231, 15%, 18%);
    border-radius: 0.5rem;
    box-shadow: 0 0 0.5rem hsl(34, 51%, 43%);
  }

  .svg-logo {
    height: 4rem;
    width: auto;
    fill: hsl(var(--svg-fill-hsl));
    transition: all 0.5s ease-out;
  }

  .svg-logo-contact {
    height: 1.5rem;
    width: auto;
    fill: hsl(var(--svg-fill-hsl));
  }

  .opacity-mask {
    mask-image: linear-gradient(
      to right,
      hsla(230, 23%, 5%, 0) 0%,
      hsla(230, 23%, 5%, 1) 10%,
      hsla(230, 23%, 5%, 1) 90%,
      hsla(230, 23%, 5%, 0) 100%
    );
  }

  /* Media Queries */
  /* TODO animate buttons, transitions, etc */

  @media (prefers-reduced-motion: no-preference) {
    /* Some people hate this feature */
    html {
      scroll-behavior: smooth;
    }

    .text-infernal {
      color: hsl(120, 100%, 50%);
      text-shadow: 0 0 0.2rem hsl(120, 100%, 50%), 0 0 0.5rem hsl(120, 100%, 50%),
        0 0 0.8rem hsl(120, 100%, 50%);
    }
  }

  @media (prefers-reduced-motion: reduce) {
    canvas {
      display: none;
    }
  }
}

/* TODO move some common css to tailwind config */

:root {
  /* TODO create light mode scheme, make dark mode default (swap to main root) */
  --font-mono: "Fira Code", "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace",
    "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --font-sans: Inter, "Trebuchet MS", -system-ui, Helvetica, Verdana, sans-serif;
  --bg-primary-hsl: 255deg, 6%, 13%;
  --bg-secondary-hsl: 255deg, 6%, 13%;
  --link-hover-hsl: 153, 47%, 49%;
  --text-primary-hsl: 0deg, 0%, 90%;
  --svg-fill-hsl: 0deg, 0%, 85%;
  --text-gradient: linear-gradient(to right, hsl(278, 74%, 54%), hsl(197, 75%, 47%));
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-primary-hsl: 0deg, 0%, 100%;
    --bg-secondary-hsl: 255deg, 6%, 49%;
    --link-hover-hsl: 153deg, 47%, 49%;
    --text-primary-hsl: 0deg, 2%, 12%;
    --svg-fill-hsl: 0deg, 2%, 12%;
    --text-gradient: linear-gradient(to right, hsl(212, 74%, 54%), hsl(49, 98%, 51%));
  }

  .background-animation {
    display: none;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  line-height: 1.5;
  font-size: 100%;
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  color: hsl(var(--text-primary-hsl));
}

main {
  padding-top: 4rem;
  min-height: 100vh;
}

main,
body {
  /* TODO play with gradient colors */
  background: radial-gradient(ellipse at bottom, hsl(211, 33%, 16%) 0%, hsl(230, 25%, 5%) 100%);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

ul,
ol,
li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (hover: hover) {
  /* TODO link hover animations */
  .svg-logo:hover {
    /* TODO add more interesting animation */
    transition: all 0.5s ease-in-out;
    filter: brightness(1.5);
  }

  a:hover,
  a:focus {
    color: hsl(var(--link-hover-hsl));
    /* text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff,
      0 0 2px hsl(var(--link-hover-hsl)), 0 0 4px hsl(var(--link-hover-hsl)),
      0 0 8px hsl(var(--link-hover-hsl)), 0 0 10px hsl(var(--link-hover-hsl));
      */
  }
}
