@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  canvas {
    position: fixed;
  }
}

@layer components {
  .text-name {
    background: var(--text-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .badge {
    font-size: 0.9rem;
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid hsla(0, 0%, 61%, 0.5);
    background: radial-gradient(ellipse at bottom, hsl(211, 25%, 16%) 0%, hsl(230, 25%, 5%) 150%);
  }

  .card-container {
    display: grid;
    /* width: 50%; */
    justify-self: center;
    text-align: center;
    /* margin: 2rem 0; */
    border-radius: 0.5rem;
    box-shadow: 0.2rem 0.2rem 0.5rem hsla(230, 25%, 5%, 0.5);
    transition: all 0.5s ease-in-out;
    background: radial-gradient(
      ellipse at bottom,
      hsla(230, 25%, 5%, 0.5) 0%,
      hsla(211, 25%, 16%, 0.5) 100%
    );
  }

  .svg-logo {
    height: 3.3rem;
    width: auto;
    fill: hsl(var(--svg-fill-hsl));
  }

  .svg-logo-contact {
    height: 1.5rem;
    width: auto;
    fill: hsl(var(--svg-fill-hsl));
  }

  .opacity-mask {
    mask-image: linear-gradient(
      to right,
      hsla(230, 23%, 5%, 0) 0%,
      hsla(230, 23%, 5%, 1) 10%,
      hsla(230, 23%, 5%, 1) 90%,
      hsla(230, 23%, 5%, 0) 100%
    );
  }

  .header {
    background-color: hsla(230, 23%, 5%, 0.6);
    box-shadow: 0.2rem 0.2rem 0.5rem hsla(230, 25%, 5%, 0.5);
  }
}

:root {
  /* TODO create light mode scheme, make dark mode default (swap to main root) */

  --text-primary-hsl: 0deg, 0%, 90%;
  --svg-fill-hsl: 0deg, 0%, 85%;
  --text-gradient: linear-gradient(to right, hsl(278, 74%, 54%), hsl(197, 75%, 47%));
}

/* TODO disable until light theme is implemented
@media (prefers-color-scheme: light) {
  :root {
    --text-primary-hsl: 0deg, 2%, 12%;
    --svg-fill-hsl: 0deg, 2%, 12%;
    --text-gradient: linear-gradient(to right, hsl(212, 74%, 54%), hsl(49, 98%, 51%));
  }
  .background-animation {
    display: none;
  }
}
*/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  line-height: 1.5;
  font-size: 100%;
  overflow-x: hidden;
  overscroll-behavior-y: none;
}

body {
  min-height: 100vh;
  color: hsl(var(--text-primary-hsl));
}

main {
  padding-top: 0;
  min-height: 100vh;
}

html,
main {
  background: radial-gradient(ellipse at bottom, hsl(211, 33%, 16%) 0%, hsl(230, 25%, 5%) 100%);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

ul,
ol,
li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Media Queries */
/* TODO animate transitions, etc */

@media (prefers-reduced-motion: no-preference) {
  /* Some people hate this feature, use only for those with no preference set */
  html {
    scroll-behavior: smooth;
  }

  header {
    transition: all 0.5s ease-in-out;
  }
}

@media (prefers-reduced-motion: reduce) {
  canvas {
    display: none;
  }

  nav a,
  header li,
  footer .svg-logo-contact,
  .footer-text {
    @apply opacity-50 hover:opacity-100;
  }
}

@media (prefers-contrast: no-preference) {
  .text-infernal {
    color: hsl(120, 100%, 50%);
    text-shadow: 0 0 0.2rem hsl(120, 100%, 50%), 0 0 0.5rem hsl(120, 100%, 50%),
      0 0 0.8rem hsl(120, 100%, 50%);
  }
}

@media (prefers-reduced-motion: no-preference) and (hover: hover) {
  .svg-logo:hover,
  .svg-logo-contact:hover {
    transition: all 0.5s ease-in-out;
    filter: grayscale(80%);
  }

  nav a,
  header li,
  footer .svg-logo-contact,
  .footer-text {
    @apply transition-opacity opacity-50 hover:opacity-100;
  }
}
